/*Menu icon*/
.adm-submenu-item-link-icon.dwstroy_seochpulite_menu_icon {background:url(icons/dwstroy.seochpulite/logo.png)}
.adm-submenu-item-link-icon.dwstroy_seochpulite_page_icon {background:url(icons/dwstroy.seochpulite/logo.png)}

